@charset "UTF-8";

/*
Celular: 320px até 480px
Ipad, tablet: 481px até 768px
Pequenas telas, laptops: 769px até 1024px
Desktop: 1025px até 1200px
Grandes telas: acima de 1200px
*/
    
@media screen and (min-width: 768px){ /* TABLET */
    span#burguer{
        display: none;
    }

    menu{
        display: block;
    }

    menu li{
        display: inline-block;
    }

    main{
        width: 768px;
    }
}